[Unit]
Description=Xornet reporter
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=$USER
ExecStart=/etc/xornet/xornet-reporter.bin

[Install]
WantedBy=multi-user.target
