[Unit]

Description=Xornet reporter

After=network.target

[Service]

Restart=always

Type=simple

ExecStart=/etc/xornet/xornet-reporter-v0.13.bin

[Install]

WantedBy=multi-user.target